.filter {
  display: flex;
  align-items: center;
  height: 36px;
  background-color: #ffffff;
  border-radius: 4px;
  margin-left: 12px;
  margin-right: 12px;
}

.input-box {
  width: 85%;
  padding: 3px;
  font-size: 15px;
  background: #fff;
  border: none;
  border-radius: 4px;
  color: #303030;
  padding-left: 8px;
}

.btn-upload {
  cursor: pointer;
  background-image: url("./static/camera.svg");
  background-repeat: no-repeat;
  background-color: Transparent;
  background-position: center center;
  width: 24px;
  height: 24px;
  padding: 17.5px 18.5px 16.5px 18.5px;
  border-radius: 0px 4px 4px 0px;
}

.btn-search {
  background-image: url("./static/search.svg");
  background-repeat: no-repeat;
  background-color: Transparent;
  background-position: center center;
  width: 24px;
  height: 24px;
  border: none;
  margin: 0 auto;
}

.btn-upload:hover {
  border-width: 2px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 1px;
  text-overflow: '';
  background: url("./static/caret-down.svg") no-repeat right center;
}

.filter-box {
  width: 97.5%;
  font-size: 15px;
  border: none;
  color: #303030;
  padding-left: 8px;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 240px;
  background-color: #505050;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  overflow: visible;

  position: absolute;
  z-index: 99;
  top: 80px;
  right: 60px;
  font-size: 13px;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #505050;
}