* {
  font-family: 'Lato', 'Helvetica'
}

.results-list-container {
  background: #eee;
  opacity: .8;
  padding: .25rem;
}

.upload--modal {
  position: absolute;
  top: 200px;
  left: calc(50% - 200px);
  z-index: 99999999;
  display: block;
  background: white;
  color: red;
  min-height: 15%;
  padding: 15px;
}

.modal-element {
  font-size: 1.25em;
  font-family: 'Lato' !important;
}

.modal-button {
  /* border: 2px dashed #226fbe; */
  border: 0;
  border-radius: 4px;
  background: #82c8a0;
  padding: 10px 15px;
  display: inline-block;
  text-align: center;
  color: white;
  font-size: 1em !important;
}

.btn-6d:hover {
  background: transparent;
  color: #226fbe;
}

.Modal {
  position: absolute;
  top: 40px;
  bottom: 40px;
  background-color: gray;
  width: 100%;
}

.modal--overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: gray;
}

.openModalButton {
  position: absolute;
  right: 0;
  z-index: 9999999;
}
