* {
  font-family: 'Lato', 'Helvetica'
}

.sidebar-container {
  position: absolute;
  width: 360px;
  max-width: 40vw;
  height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  z-index: 99999;
  margin-top: 70px;
}

.topbar {
  position: absolute;
  height: 70px;
  z-index: 9;
  width: 100%;
  background: #34c47c;
  color: #aaa;
}

.trashy-logo {
  position: absolute;
  margin-top: 15px;
  margin-left: 30px;
  background-image: url("/src/styles/static/logo-trashy-white.svg");
  background-repeat: no-repeat;
  background-color: Transparent;
  width: 145.5px;
  height: 40px;
  border: none;
}

.searchbar-contents {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 120px;
  background-color: #808080;
}

.results-list-container {
  background: #303030;
  display: flex;
  max-width: 40vw;
}

.upload-modal {
  position: absolute;
  top: 30%;
  left: 40%;
  z-index: 99;
  display: block;
  background: white;
  border-radius: 4px;
  color: #707070;
  font-size: 14px;
  min-height: 15%;
  padding: 15px;
}

.btn-close-modal {
  cursor: pointer;
  position: relative;
  margin: 0 auto;
  float: right;
  background-image: url("/src/styles/static/x.svg");
  background-repeat: no-repeat;
  background-color: Transparent;
  border: none;
  width: 24px;
  height: 24px;
}

.btn-close-modal button:hover {
  border: black;
}

.upload-form {
  display: flex;
  align-items: flex-end;
  max-width: 40vw;
  height: 44px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.upload-form > label {
  cursor: pointer;
  height: 44px;
  border-radius: 4px;
  width: 150px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid;
  padding: 1px 7px 2px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
}

.upload-form > label:hover {
  border-width: 2px;
}

.upload-form > span {
  display: inline-flex;
  align-items: center;
  width: 500px;
  height: 36px;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
  color: #707070;
  white-space: nowrap;
  overflow-x: auto;
}

.modal-button {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  background: #34c47c;
  padding: 10px 15px;
  display: block;
  text-align: center;
  color: white;
  font-size: 16px;
  height: 44px;
  width: 120px;
  float: right;
  margin-bottom: 10px;
}
.modal-button:hover {
  background: #00b100;
  transition: .5s ease;
}

.btn-6d:hover {
  background: transparent;
  color: #226fbe;
}

.Modal {
  position: absolute;
  top: 40px;
  bottom: 40px;
  background-color: gray;
  width: 100%;
}

.modal--overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: gray;
}

.openModalButton {
  position: absolute;
  right: 0;
  z-index: 9999999;
}

.loading-component {
  z-index: 999999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

:focus {
  outline: none;
}

input[type="file"] {
  display: none;
}