
.result-item {
  /* font-family: 'Helvetica' !important; */
  border-radius: 4px;
  background: #fff ;
  color: black;
  width: 300px;
  max-width: calc(40vw - 3.6em);
  padding: 10px;
  margin: 8px 12px 8px 12px;
}

.result-item > i {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  float: right;
}

.recycling {
  background-color: #34c47c;
}

.electronic-waste {
  background-color: #002560;
}

.cash-for-trash {
  background-color: #FEDF00;
}

.second-hand {
  background-color: #FF0080;
}

p {
  margin: 8px auto 8px;
  font-size: 16px;
  font-weight: 600;
}

.result-item > span {
  font-size: 14px;
}
